{% extends 'base.html' %}

{% block title %} {% endblock title %}

{% block body %} 

<div class="container-fluid px-0 ">

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://source.unsplash.com/1600x600/?services" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Other Technologies</h5>
              <p>There is no limit</p>
            </div>
          </div>
        </div>
      </div>

</div>


<main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
          From the TechBlog
        </h3>
  
        <div class="blog-post">
          <h2 class="blog-post-title">Other Blog post 1</h2>
          <p class="blog-post-meta">November 1, 2020 by <a href="#">Content writter </a></p>
  
          <p>Content.</p>
          <hr>
          <p>.........<a href="#">link between peragraph</a>, ..........</p>
          <blockquote>
            <p>........ <strong>Highlight between peragraph</strong>..........</p>
          </blockquote>
          <p>...... <em>Special line between peragraph</em> ..........</p>
          <h2>Heading</h2>
          <p>peragraph....</p>
          <h3>Sub-heading</h3>
          <p>Peragraph....</p>
          <pre><code>Example block</code></pre>
          <p>Peragraph.</p>
          <h3>Sub-heading</h3>
          <p>Peragraph.</p>
          <ul>
            <li>Line1.</li>
            <li>Line2.</li>
            <li>Line3.</li>
          </ul>
          <p>Pera continue.</p>
          <ol>
            <li>Line 1</li>
            <li>Line 2</li>
            <li>Line 3</li>
          </ol>
          <p>Peragraph.</p>
        </div><!-- /.blog-post -->
  
        <div class="blog-post">
          <h2 class="blog-post-title">Other Blog post 2</h2>
          <p class="blog-post-meta">Date, by<a href="#">Content writter </a></p>
  
          <p>Content......</p>
          <blockquote>
            <p><strong></strong></p>
          </blockquote>
          {% comment %} <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p> {% endcomment %}
        </div><!-- /.blog-post -->
  
        <div class="blog-post">
          <h2 class="blog-post-title">Others New feature</h2>
          <p class="blog-post-meta">Date, by <a href="#">Content writter</a></p>
  
          <p>Content.......</p>
          {% comment %} <ul>
            <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Nulla vitae elit libero, a pharetra augue.</li>
          </ul>
          <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p> {% endcomment %}
        </div><!-- /.blog-post -->
  
        <nav class="blog-pagination">
          <a class="btn btn-outline-primary" href="older">Older</a>
          <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
        </nav>
  
      </div><!-- /.blog-main -->
  




 {% endblock body %}